@font-face {
    font-family: 'urbanist-regular';
    src: url('../font/urbanist/Urbanist-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-medium';
    src: url('../font/urbanist/Urbanist-Medium.ttf') format('truetype');
}

:root {
    --primary-color: 55, 67, 175;
    --dark-color: 14, 14, 16;
    --light-color: 255, 255, 255;
    --light-secondary-color: 250, 250, 250;

    --urbanist-regular: 'urbanist-regular', Arial, Helvetica, sans-serif;
    --urbanist-medium: 'urbanist-medium', Arial, Helvetica, sans-serif;
}

* {
    font-family: var(--urbanist-medium);
    color: rgba(var(--dark-color), 1);
    transition: 250ms;
}

body {
    background-color: rgba(var(--light-color), 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 150%;
    margin-bottom: 0;
}

/* COMPONENT STYLE */
section.section-gap {
    padding-top: 122px;
    background-color: rgba(var(--light-secondary-color), 1);
}

.gap-bottom {
    padding-bottom: 122px;
}

.row.row-gap {
    margin-bottom: 56px
}

.headline,
.title {
    line-height: auto;
    font-size: 3.5rem;
    color: rgba(var(--dark-color), 1);
    line-height: auto;
    line-height: 122%;
}

.title {
    font-size: 2.5rem;
}

p.paragraph,
p.paragraph-small {
    font-size: 1rem;
    color: rgba(var(--dark-color), 0.72);
}

p.paragraph-small {
    font-size: 0.938rem;
}

p.caption,
p.caption-blur {
    color: rgba(var(--dark-color), 1);
    font-size: 0.875rem;
}

p.caption-blur {
    color: rgba(var(--dark-color), 0.52);
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    color: rgba(var(--primary-color), 1)
}

h4 {
    font-size: 1.5rem;
    color: rgba(var(--primary-color), 1);
    font-weight: bold;
}

h5,
h6 {
    line-height: 142%;
    font-size: 1rem;
    color: rgba(var(--dark-color), 1);
}

h6.primary {
    color: rgba(var(--primary-color), 1);
}

h5 {
    font-size: 2rem;
    color: rgba(var(--primary-color), 1);
}

.card-link {
    font-size: 0.875rem;
    color: rgba(var(--primary-color), 1);
    text-decoration: none;
}

.button-default {
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    padding: 16px 28px;
    background-color: rgba(var(--primary-color), 1);
    border: 1px solid rgba(var(--primary-color), 1);
    border-radius: 9999px;
    font-size: 0.913rem;
    color: rgba(var(--light-color), 1);
}

.button-default-small {
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    padding: 16px 26px;
    background-color: rgba(var(--primary-color), 1);
    border: 1px solid rgba(var(--primary-color), 1);
    border-radius: 9999px;
    font-size: 0.913rem;
    color: rgba(var(--light-color), 1);
}

.button-default:hover,
.button-default-small:hover {
    background-color: transparent;
    color: rgba(var(--primary-color), 1);
}

.button-dark {
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    padding: 16px 28px;
    background-color: rgba(var(--dark-color), 1);
    border: 1px solid rgba(var(--dark-color), 0.12);
    border-radius: 9999px;
    font-size: 0.913rem;
    color: rgba(var(--light-color), 1);
}

.button-dark:hover {
    background-color: transparent;
    color: rgba(var(--dark-color), 1);
}

.button-dark .arrow-icon {
    width: 10px;
    height: 10px;
    background-image: url('../img/icon/arrow-button-light.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button-dark:hover > .arrow-icon {
    background-image: url('../img/icon/arrow-button-dark.svg');
}

.banner-image {
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
}

.banner-image-reverse {
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
}

.card-default {
    background-color: rgba(var(--light-color), 1);
    padding: 30px;
    border: 1px solid rgba(var(--dark-color), 0.12);
    border-radius: 8px;
}

.card-icon {
    padding: 15px;
    border-radius: 3px;
    background-color: rgba(var(--light-secondary-color), 1);
    border: 1px solid rgba(var(--dark-color), 0.12);
    width: fit-content;
}

.card-link {
    color: rgba(var(--primary-color), 1);
    font-size: 0.875rem;
    border: none;
    stroke: none;
    outline: none;
    background-color: transparent;
    padding: 0;
}

.card-link:hover > img {
    transform: translateX(3px);
}

.card-image {
    padding: 16px;
    border-radius: 5px;
    border: 1px solid rgba(var(--dark-color), 0.12);
    background-color: rgba(var(--light-color), 1);
    width: fit-content;
}

.card-number {
    display: inline-block;
    width: 50px !important;
    height: 50px !important;
    border-radius: 5px;
    border: 1px solid rgba(var(--dark-color), 0.12);
    background-color: rgba(var(--light-color), 1);
    width: fit-content;
}

.swiper-pagination-bullet {
    background-color: rgba(var(--dark-color), 0.52) !important;
    width: 9px !important;
    height: 9px !important;
    margin: 0 2px !important;
    border-radius: 6px !important;
}

.swiper-pagination-bullet-active {
    width: 26px !important;
}

.swiper-pagination-team,
.swiper-pagination-testimoni {
    transform: translateY(18px);
}
/* END COMPONENT STYLE */


/* COMPONENT NAVBAR */
.navbar {
    border-bottom: 1px solid rgba(var(--dark-color), 0.12);
}

.nav-link {
    font-size: 1rem;
    color: rgba(var(--dark-color), 1);
}

.nav-link.active,
.nav-link:hover {
    color: rgba(var(--primary-color), 1) !important;
}
/* END COMPONENT NAVBAR */


/* SECTION HERO */
.hero,
.about,
.testimoni {
    height: 88vh;
}

.hero .other {
    width: 150px;
    padding-bottom: 6px;
    border-bottom: 2px solid rgba(var(--dark-color), 0.12);
}

.hero .other-label {
    font-size: 0.938rem;
    color: rgba(var(--dark-color), 0.52);
}
/* END SECTION HERO */


/* SECTION ABOUT */
.fact-caption {
    color: rgba(var(--dark-color), 1);
    font-size: 0.875rem;
}
/* END SECTION ABOUT */


/* SECTION TESTIMONI */
.testimoni .card-default {
    background-color: rgba(var(--light-secondary-color), 1);
}

.testimoni .profile-image {
    width: fit-content;
    height: fit-content;
    padding: 6px;
    border-radius: 3px;
    background-color: rgba(var(--light-color), 1);
    border: 1px solid rgba(var(--dark-color), 0.12);
}

.testimoni .profile-image img {
    width: 48px;
    height: 48px;
    border-radius: 3px;
}

.testimoni .testimoni-name {
    color: rgba(var(--primary-color), 1);
}

.testimoni .testimoni-position {
    color: rgba(var(--dark-color), 1);
}
/* END SECTION TESTIMONI */


/* SECTION FAQ */
.accordion-item {
    border: 1px solid rgba(var(--dark-color), 0.12) !important;
    outline: none !important;
    stroke: none !important;
    background-color: rgba(var(--light-color), 1) !important;
}

.accordion-button {
    outline: none !important;
    stroke: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 24px !important;
    background-color: rgba(var(--light-color), 1) !important;
}

.accordion-body {
    padding-top: 0;
}

.accordion-body > p {
    border-top: 1px solid rgba(var(--dark-color), 0.12);
    padding-top: 16px;
}

.accordion-button::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid rgba(var(--dark-color), 0.12);
    background-color: rgba(var(--light-secondary-color), 1);
    background-image: url('../img/icon/arrow-down.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.accordion-button::after {
    display: none;
}
/* END SECTION FAQ */


/* COMPONENT CONTACT */
label {
    width: 100% !important;
}

label > p {
    margin-bottom: 3px;
}

.input {
    width: 100% !important;
    outline: none;
    background-color: rgba(var(--light-color), 1);
    border: 1px solid rgba(var(--dark-color), 0.12);
    border-radius: 4px;
    color: #a4a4a4;
    font-size: 0.875rem;
    padding: 17px 24px;
}

.input::placeholder {
    color: #a4a4a4;
    font-size: 0.875rem;
}
/* END COMPONENT CONTACT */


/* COMPONENT CTA */
.cta {
    background-color: rgba(var(--light-secondary-color), 1);
    border: 1px solid rgba(var(--dark-color), 0.12);
    border-radius: 12px;
    padding: 72px 0;
    margin-top: 72px;
}
/* END COMPONENT CTA */


/* FOOTER */
.footer {
    background-color: rgba(var(--light-color), 1);
    padding-top: 122px;
}

.footer h6 {
    color: rgba(var(--dark-color), 1);
}

.footer .paragraph-small {
    font-size: 0.913rem;
    color: rgba(var(--dark-color), 0.72);
    text-decoration: none;
}

.footer a.paragraph-small:hover {
    color: rgba(var(--dark-color), 1);
}

.sosmed-icon {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(var(--dark-color), 0.12);
    border-radius: 4px;
}

.sosmed-icon:hover {
    background-color: rgba(var(--light-secondary-color), 1);
}

.copyright {
    padding: 22px 0 !important;
    border-top: 1px solid rgba(var(--dark-color), 0.12);
}

.copyright p {
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 0.32);
}
/* END FOOTER */


/* BREAKPOINT XL */
@media (max-width: 1399.98px) {
    .headline {
        font-size: 3.125rem;
    }

    .title {
        font-size: 2.25rem;
    }
}
/* END BREAKPOINT XL */


/* BREAKPOINT LG */
@media (max-width: 1199.98px) {
    .headline {
        font-size: 2.75rem;
    }

    .title {
        font-size: 1.875rem;
    }
}
/* END BREAKPOINT LG */


/* BREAKPOINT MD */
@media (max-width: 991.98px) {
    .about,
    .testimoni {
        height: fit-content;
        padding: 72px 0 !important;
    }

    .hero {
        height: fit-content;
        padding-bottom: 72px !important;
    }

    section.section-gap {
        padding-top: 72px;
    }

    .gap-bottom {
        padding-bottom: 72px;
    }

    .headline {
        font-size: 3rem;
    }

    .title {
        font-size: 2.25rem;
    }

    .row.row-gap {
        margin-bottom: 42px
    }
}
/* END BREAKPOINT MD */


/* BREAKPOINT SM */
@media (max-width: 767.98px) {
    .headline {
        font-size: 2.5rem;
    }

    .title {
        font-size: 1.875rem;
    }
}
/* END BREAKPOINT MD */